<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
</head>
<body>
    <div class="container">
        <h1>Search Results</h1>
        {% if error %}
            <p class="error">{{ error }}</p>
        {% elif results %}
            <table>
                <thead>
                    <tr>
                        <th>Song</th>
                        <th>Artist</th>
                        <th>Genre</th>
                    </tr>
                </thead>
                <tbody>
                    {% for result in results %}
                        <tr>
                            <td>{{ result.title }}</td>
                            <td>{{ result.artist }}</td>
                            <td>{{ result.genre if result.genre else 'None'}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No results found.</p>
        {% endif %}
        <a href="{{ url_for('main.home') }}">Back to Search</a>
    </div>
</body>
</html>
